<button onclick="brooklynOnly()"> Show only Brooklyn</button> <button onclick="allAlchohol()">Show all</button>

<h1 ID="one">This is </h1>
<h1 ID="two">a list </h1>
<h1 ID="three">of Distilleries and Breweries in New York: </h1>


<button onclick="changeColors()">Change Something!</button>

<p ID="four">this list</p>